.home-top-img {
  width: 100%;
  /* height: 570px; */
  position: inherit;
}
.rew-section {
  margin-top: 90px;
}
.img-div {
  width: 100%;
  height: 100%;
}
.home-btn {
    margin-top: 5px;
    color: white;
    background-color: #6e6fd9;
}
.top-heading {
  color: #6e6fd9 !important;
}
.line-heading {
  margin-bottom: 10px;
  border-top: 1px solid #cccccc;
  box-shadow: 0px 2px 3px #e0e0e0;
  border-radius: 100%;
}
/* .line-heading-top {
  margin-bottom: 10px;
  border-top: 1px solid #cccccc;
  box-shadow: 0px -2px 3px #e0e0e0;
  border-radius: 100%;
} */
/* purple: 6E6FD9/9D99E6/736BE5, blue: 0065A9/5b5db7, mehroon: AE376D*/

@media only screen and (min-width: 100px) {
  .home-top-img {
    height: 300px;
  }
  .mt-small {
    margin-top: 20px;
    margin-bottom: 90px;
  }
}
@media only screen and (min-width: 576px) {
  .home-top-img {
    height: 400px;
  }
}
@media only screen and (min-width: 660px) {
  .home-top-img {
    height: 440px;
  }
}
@media only screen and (min-width: 786px) {
  .home-top-img {
    height: 490px;
  }
}
@media only screen and (min-width: 992px) {
  .home-top-img {
    height: 570px;
  }
  .mt-small {
    margin-top: 0px;
  }
}
