.meet {
  text-align: center;
}
.card-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.revheadborder {
  margin: 0 auto;
  margin-bottom: 90px;
  height: 3px;
  /* border: 2px solid; */
  width: 210px;
  background-image: linear-gradient(to right, #be6ed8, #6e6fd9);
}
.card-size {
  width: 300px;
  box-shadow: 0px 4px 5px #ababab;
}
