.review-img {
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    background-color: #dfdfdf;
    height: 60px;
    width: 60px;  
  }
  
  .review-hover:hover {
      border-radius: 3%;
      box-shadow: 2px 2px 15px #d6d9dd;
  }
  .name {
    font-weight: bold;
  }