.about {
  height: auto;
  width: auto;
  background-color: #212121;
  color: white;
  padding-top: 90px;
}
.footerheadborder {
  margin-bottom: 20px;
  height: 3px;
  width: 110px;
  background-image: linear-gradient(to right, #be6ed8, #6e6fd9);
}
.text-gray {
  color: #bfbfbf;
}
.contact {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}
.socialmedia {
  border-top: 2px solid #191919;
  margin-top: 50px;
  padding: 45px 0;
  width: 100%;
  text-align: center;
}
.facebook:hover {
  color: #3b5998;
}
.twitter:hover {
  color: #00acee;
}
.instagram:hover {
  color: #B82F9F;
}

.copywrite {
  border-top: 2px solid #171717;
  width: 100%;
  background-color: #191919;
  margin-bottom: 0;
  padding: 40px 0;
  text-align: center;
  color: #be6ed8;
}